<%= form_for :session, url: session_path do |form| %>

  <div class="text-field">
  <p align="center">
    <%= form.label :Email %><br>
    <span class="glyphicon glyphicon-envelope"></span>
    <%= form.text_field :email, type: 'email', placeholder:"Email" %>
  </p>
  </div><br>

  <div class="password-field">
  <p align="center">
    <%= form.label :Password %><br>
    <span class="glyphicon glyphicon-lock"></span>
    <%= form.password_field :password, placeholder:"Password" %>
  </p>
  </div><br>

  <div class="submit-field">
  <p align="center">
    <%= form.submit %>
  </p>
  </div>

  <div class="other-links">
  <p align="center">
    <%= link_to t(".forgot_password"), new_password_path %>
  </p>
  </div>

  <h4> Not a member yet? </h4>

  <div class="panel-footer">

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
    <a href="/sign_up" class="btn btn-block btn-social btn-lg btn-facebook">
          <i class="glyphicon glyphicon-pencil" >
            </i> Sign Up with Email</a>
   <% end %>
  </div>
<% end %>

<h4 align="center">
 or 
</h4>

<a href="/auth/facebook" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
            <i class="fa fa-facebook"
"></i> Connect With Facebook
        </a>

</div>
</div>