<%= form_for :session, url: session_path do |form| %>

<div class="box registration_box">

  <div class="text-field">
  <p align="center">
    <%= form.label :email %><br>
    <%= form.text_field :email, type: 'email', placeholder:"Email" %>
    </p>
  </div>

  <div class="password-field">
  <p align="center">
    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder:"Password" %>
    </p>
  </div>

  <div class="submit-field">
  <p align="center">
    <%= form.submit %>
    </p>
  </div>

  <div class="other-links">
  <p align="center">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
    </p>
  </div>
<% end %>

<p align="center">
 or
</p>

<%= link_to "Connect with Facebook", "/auth/facebook", id: "sign_in", class:"btn btn-block btn-social btn-facebook"%> <br>
</div>
