<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for User.new do |form| %>
      <br>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <%= form.text_field :first_name, placeholder:"First name", class:"form-control"%>
        </div>
      </div><br>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <%= form.text_field :last_name, placeholder:"Last name",class:"form-control" %>
        </div>
      </div><br>
    
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <%= form.text_field :email, placeholder:"Email", class:"form-control" %>
        </div>
      </div><br>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <%= form.password_field :password, placeholder:"Password", class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <p align="center">
          <%= form.submit "submit", class:"btn btn-outline-primary" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/auth/facebook" title="Facebook" class="btn btn-block btn-social btn-md btn-facebook">
      <i class="fa fa-facebook""></i> Sign Up With Facebook
    </a>
  </div>
</div>
