<div class="col-md-4 panel-success job-info-col" >
	<%= form_for [@job, @job_application] ,html: { multipart: true } do |f| %>
		<table style="width:100%" align="center">
		  <tr >
		    <th><label for="dateFrom">Start Date</label></th>
		    <th ><label for="dateTo">End Date</label></th>
		  </tr>
			<%= render '/common/error_messages', :object => @job_application%>
		  <tr>
		    <td><%= f.date_field :start_date, type: 'text', id: "dateFrom", size: "10", placeholder: "dd/mm/yyyy" %></td>
		    <td><%= f.date_field :end_date, type: 'text', id: "dateTo", size: "10", placeholder: "dd/mm/yyyy" %></td>
		    <td><%= f.hidden_field :job_id , value: @job.id %></td>
		  </tr>		
		</table>
		<br>
		<div class="row text-center">
			<div class="form-actions col-md-8 col-md-offset-2">
		    <%= f.button "Apply Job", class: "btn btn-success btn-block"  %>
		  </div>
	  </div>
  <% end %>
  <br>
  <br>
</div>