<%= javascript_tag do%>
	markerabc = (<%=raw @hash.to_json %>);
	zoom = (<%=raw 12.to_json%>)
	center_build = (<%=raw Geocoder.coordinates(@search).to_json%>)
<% end %>
<div id = "list_job">
	<% object.each do |job| %>
		<%= link_to job.title, job_path(job) unless job.confirmed? && current_user.id != job.user_id %>
		<br><br>	
	<% end %>
</div>	