<%= javascript_tag do%>
	markerabc = (<%=raw @hash.to_json %>);
	zoom = (<%=raw 12.to_json%>)
	center_build = (<%=raw Geocoder.coordinates(@search).to_json%>)
<% end %>



<div id = "list_job">
	<% object.each do |job| %>
		<div class="box panel panel-default">
			<h4 class="list-group-item-heading">
				<%= link_to job_path(job), class: "job-span" do%>
					<span class="job-span"></span> 
				<% end %>
				</h4>

				<div class="row">
					<div class = "col-md-4">
						<div class = "panel-body">
							<p><%= job.title %></p>
							<p><small>Posted by:</small></p>
							<p> <%= job.user.full_name %> </p>
						</div>
					</div>

					<div class = "col-md-4">
						<div class = "panel-body">
							
							<p><small>Details:</small></p>
							<p> <%= job.description %> </p>
						</div>
					</div>

					<div class = "col-md-4">
					<% if job.images.first != nil %>
						<%= link_to (image_tag job.images.first.url), job %>
						<% else %>
						<img src="http://placehold.it/140x100" alt="" class="center-block img-square img-thumbnail img-responsive">
              <ul class="list-inline ratings text-center" title="Ratings">
					<% end %>
					</div>

				</div>
			
		</div>
	<% end %>
</div>	