<%= javascript_tag do%>
	markerabc = (<%=raw @hash.to_json %>);
	zoom = (<%=raw 12.to_json%>)
	center_build = (<%=raw Geocoder.coordinates(@search).to_json%>)
<% end %>
<div id = "list_job">
	<% object.each do |job| %>
		<div class="box panel panel-default">
			<div class="panel-heading">
				<%= link_to job_path(job) do%>
					<span class="job-span"></span> 
				<% end %>
				<div class="row">
					<div class = "col-md-8">
						<div class = "panel-body">
							<p><%= job.title %></p>
							<p class="user">Posted by: <%= job.user.email %></p>
						</div>
					</div>
					<div class = "col-md-4">
					<% if job.images.first != nil %>
						<%= link_to (image_tag job.images.first.url), job %>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>	