<div class="col-md-10 col-md-offset-1">
	<%= form_tag("/jobs/filter", id: "price-filter", remote: true, method: 'post') do %>
		<label for="amount">Price range:</label>
		<%= text_field_tag "filter_price[range]", '' ,id: 'amount', :readonly => true, style: "border:0; color:#f6931f; font-weight:bold; background: none"%>
		<%= hidden_field_tag 'filter_price[min]' %>
		<%= hidden_field_tag 'filter_price[max]' %>
		<%= hidden_field_tag 'filter_price[jobs]', @jobs.map(&:id), id: '' %>	
		<div id="slider-range"></div>
	<% end %>
</div>