<div id="job-index-content" class="row" style='margin: 0px'> 
	<div class="col-md-6" id="left-job-index">
		
		<div id="sidebar-wrapper">
			<div class="col-md-8">
				<%= form_tag "/jobs",  method: :get, class: "navbar-form navbar-left", id: "search-submit2",remote: true do %>
					<div class="input-group">
						<%= text_field_tag :query,"", {id: "query", class: "form-control typeahead", placeholder: "Search Location", autocomplete: "off", :autofocus=>true}  %>
						<span class="input-group-btn"><%= submit_tag "Search", {class: "btn btn-default"} %></span>
					</div>
				<% end %>
			</div>
		<br>
			<%= render 'slider' %>

  	</div>

  	<div class="spacer">
		  &nbsp;
		</div>
		<div class="job-lists">	
			<%= render 'list', :object => @jobs %>
		</div>
	</div>
	<div class = "col-md-6" id="map-container">
	  <div id="map" style='width: 100%; height: 92vh;'></div>
	</div>
</div>

