




<ul> 
	<li> <%= @job.title %> </li>
	<li> <%= @job.description %> </li>
	<li> <%= @job.location %> </li>
	<li> <%= @job.salary %> </li>
</ul>



<p><%= form_for @job_application do |f| %></p>
	<%= f.hidden_field :job_id, :value => @job.id %>
	<%= f.submit "apply now" %>
<% end %>


