
<%= f.hidden_field :job_id, :value => @job.id %>




<ul> 
	<li> <%= @job.title %> </li>
	<li> <%= @job.description %> </li>
	<li> <%= @job.location %> </li>
	<li> <%= @job.salary %> </li>
</ul>
	<%end %>



<% if @job.user_id == current_user.id %>
		<p><%= link_to 'Remove this listing', listing_path(@listing), method: :delete %></p>
		<p><%= link_to 'Edit this listing', edit_listing_path(@listing) %></p>
        <br>
<% end %>