<ul> 
	<li> <%= @job.title %> </li>
	<li> <%= @job.description %> </li>
	<li> <%= @job.location %> </li>
	<li> <%= @job.salary %> </li>
</ul>

<% if signed_in? %>	
	<% if current_user.jobs.find_by(id: params[:id]) %>
		<p><%= link_to 'Remove this job', job_path(@job), method: :delete %></p>
		<p><%= link_to 'Edit this job', edit_job_path(@job) %></p>
		<p><%= link_to 'View applicants', job_job_applications_path(@job) %></p>
	<% else %>
		<%= render 'jobs/jobapplication' %>
	<% end %>
<% end %>