<%= image_tag(@user.avatar_url) if @user.avatar? %>

<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name%>
</div>
<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>
<!-- <div class="text-field">
  <%= form.label :gender %>
  <%= form.text_field :gender%>
</div>
<div class="text-field">

  <%= form.label :dob %>
  <%= form.text_field :dob %>
</div> -->
<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<<div class="file_field">

  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>

</div>
