
<div class="row" >
	<div class="col-md-12 column1">
		<div class="hero-unit">
		<h1 class="headerline">Explore the World</h1>


		<%= form_tag "/jobs",  method: :get, class: "navbar-form navbar-left", id: "search-submit" do %>
			<div class ="mysearchbar">
				<div class="form-group">
					<%= text_field_tag :query,"", {id: "query", class: "form-control typeahead", placeholder: "Search", autocomplete: "off", :autofocus=>true}  %>
				</div>
				<%= submit_tag "Search", {class: "btn btn-default"} %>
			</div>
		<% end %>
   </div>
	</div>
</div>


<div class="container my-custom-container">

<div class="jumbotron">
  <h1>About Live Work Go</h1>
  <p> Live Work Go also known as LWG is a lifestyle app, with a vision of providing easy access to backpackers and students to find jobs across the world.
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a></p>
</div>

	<div class="row" >
		<div class="col-md-12 column1">
			<h1 class="text-center text-muted">
			What are you interested in?
			</h1>
			<h3 class="text-center text-muted">Discover & connect with great local businesses in Malaysia</h3>
		</div>
	</div>


	<div id="categories">
			<div class="category-post-container clear">
					<div class="categories-post-grid">
							<div class="category" id="category-nature">
									<div class="category-post-container root-category clear">
											<ul>
													<li class="img-rounded" style="background-image: url('http://images.fineartamerica.com/images-medium-large/handcraft-okan-yilmaz.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Hand Craft</a>
																			</h2>
																	</div>
															</div>
													</li>

													<li class="img-rounded" style="background-image: url('http://wallpapercave.com/wp/ETtYan4.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Music</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="img-rounded" style="background-image: url('http://www.christineellison.com/wp-content/uploads/2013/11/social-work-lecture-series.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Charity</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="img-rounded" style="background-image: url('http://bisde.org/wp-content/uploads/2016/06/6.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Photo</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="img-rounded" style="background-image: url('http://www.thehouben.com/image/content/Cooking-class.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Cooking</a>
																			</h2>
																	</div>
															</div>
													</li>
											</ul>
									</div>
							</div>
					</div>
			</div>
	</div>





  <div class="row">
		<div class="col-md-12 lastcolumn">
			<h1 class="text-center text-muted">
				The Latest Jobs in the City
			</h1>
			<h3 class="text-center text-muted">Explore some of the best tips from around the city from our partners and friends.</h3>
		</div>
	</div>

<div class="container">
      <div class="row">
      <%@jobs[0..2].each do |job|%>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
          	<% if job.images.present? %>
            <%= image_tag job.images[0].square.url, :class=> "style_image"%>
            <% end %>
              <div class="caption" style="height:150px;">
              	 <%= image_tag job.user.avatar.url(:small_thumb), class: "img-circle my-imgcircle", id:"job_profile"%>
                <h4><%=job.title%></h4>
                <p><%=job.description%></p>
                <p>RM <%=job.salary%> per month</p>
                <%=link_to "Apply", job_path(job.id), class: "btn btn-info btn-xs"%>
              </div>
          </div>
        </div>
        <%end%>



       </div>
</div>
