<nav>
  <ul class="nav navbar-nav navbar-right">
    <%= form_tag "/jobs",  method: :get, class: "navbar-form navbar-left", id: "search-submit" do %>
      <div class="form-group" style="background-color:white;" >
        <%= text_field_tag :query,"", {id: "query", class: "form-control typeahead", placeholder: "Search", autocomplete: "off", :autofocus=>true}  %>
      </div>
      <%= submit_tag "Search", {class: "btn btn-default"} %>
    <% end %>
    <li><%= link_to "Home",root_path%></li>
    <% if signed_in? %>
    <li><%= link_to "Sign out", sign_out_path, id: "sign_out", method: :delete %></li>
    <% else %>
    <li><%= link_to "Connect with Facebook", "/auth/facebook", id: "sign_in", class:""%></li>
    <li><%= link_to t(".sign_in"), sign_in_path %> </li>
    <li><%= link_to t(".sign_up"), sign_up_path %> </li>
    <% end %>
  </ul>
  </div>
</nav>
